<%
  def aggregate(data, criteria)
    a = 0
    data.each { |row|
      match = 1
      criteria.each { |k, v|
        match = 0 unless (row[k].to_s == v.to_s) || (k == 'closed' && row[k] == (v == 0 ? "f" : "t"))
      } unless criteria.nil?
      a = a + row["total"].to_i if match == 1
    } unless data.nil?
    a
  end
  
  def aggregate_link(data, criteria, *args)
    a = aggregate data, criteria
    a > 0 ? link_to(a, *args) : '-'
  end  
  
    field_name = "assigned_to_id"
    @allowed_projects = []
    User.current.memberships.each {|m| @allowed_projects << m.project if m.role.allowed_to?(:view_issues)}
    
    @statuses = IssueStatus.find(:all, :order => 'position')
    @field = "assigned_to_id"
    rows = @allowed_projects.collect {|p| p.members.collect { |m| m.user } }.flatten.uniq.sort
    data = ActiveRecord::Base.connection.select_all("select s.id as status_id, 
                                                  s.is_closed as closed, 
                                                  a.id as assigned_to_id,
                                                  count(i.id) as total 
                                                from 
                                                  #{Issue.table_name} i, #{IssueStatus.table_name} s, #{User.table_name} a
                                                where 
                                                  i.status_id=s.id 
                                                  and i.assigned_to_id=a.id
                                                group by s.id, s.is_closed, a.id")
       %>
<h3><%= l(:field_assigned_to) %></h3>
<% if @statuses.empty? or rows.empty? %>
    <p><i><%=l(:label_no_data)%></i></p>
<% else %>
<% col_width = 70 / (@statuses.length) %>
<table class="list">
    <thead>
        <tr>
            <th style="width:25%"></th>
            <% for status in @statuses %>
                <th style="width:<%= col_width %>%"><%= status.name %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% for row in rows %>
            <tr class="<%= cycle("odd", "even") %>">
                <td><%= link_to row.name, :controller => 'issues', :action => 'index', :set_filter => 1, "#{field_name}" => row.id %></td>
                <% for status in @statuses %>
                    <td align="center"><%= aggregate_link data, { field_name => row.id, "status_id" => status.id }, 
                                                            :controller => 'issues', :action => 'index', :set_filter => 1, 
                                                            "status_id" => status.id, "#{field_name}" => row.id %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<%
    end
    reset_cycle
%>