<h3><%= l(:label_version_plural) %></h3>

<table class="list">		
	<thead>
		<tr>
			<th><%=l(:label_project)%></th>
			<th><%=l(:label_version)%></th>
			<th><%=l(:field_done_ratio)%></th>
		</tr>
	</thead>
	<tbody>
		<%
        User.current.projects.sort.each do |project|
          project.versions.each do |version|
            if !version.completed? && version.fixed_issues.count > 0
        %>
				<tr class="<%= version.overdue? ? 'version_overdue' : '' %>">
					<td><%= link_to (h(version.project), :controller => 'projects', :action => 'show', :id => version.project) %></td>
					<td><%= link_to h(version.name), :controller => 'versions', :action => 'show', :id => version %></td>
					<td class="progress-cell"><%= progress_bar([version.closed_pourcent, version.completed_pourcent], :width => '10em', :legend => ('%0.0f%' % version.completed_pourcent)) %></td>
		    	</tr>
		    <% end %>  
		  <% end %>
		<% end %>
	</tbody>
</table>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'my_widgets', :plugin => 'redmine_my_widgets' %>
<% end %>